@import 'https://fonts.googleapis.com/css?family=Open+Sans';
 
body, html {
  height: 100%;
  line-height: 1.8;
}

body,h1,h2,h3,h4,h5,h6 {
  font-family: 'Times New Roman', Times, serif,
}

p { 
  font-family: Arial;
  font-size: 15px;
}

#listing-head {
  font-size: 100px;
  text-align: center;
}

/* Full height image header */
 .bgimg-1 {
                 background-position: center;
              background-size: cover;
              background-image: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2253&q=80');
              min-height: 100%;
            }
            
            .w3-bar .w3-button {
              padding: 16px;
            }

.pie-container {
  min-height: 150px;
  position: relative;
  left: 400px;
}


#pieChart, #distributionChart, #scatterplotChart, #stackedbarCahrt, #my-map {
  widows: 80%;
  height: 80%;
  min-height: 100px;
  position: relative;
}

/* #my-map {
	width:960px;
	height:500px;
} */

.chart-container {
  min-height: 150px;
  width: 80%;
  height: 80%;
}
 
.zc-ref {
  display: none;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}
.legend {
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}